<% include header %>

<article>
    <div class="container">
        <div class="row align-items-end">
            <div class="col-sm-8">
                <section class="contact-header">
                    <header>
                        To contact me, please visit <a href="index.html"><u class="underline">About me</u></a> tab
                        and see right side
                        of the
                        page.<br> Or else you can fill in all your details and say <strong>"Hello"</strong> in the
                        text area
                        below. I will get in touch with you whenever I am free. Meanwhile, you can visit my profile links below.<br> <strong><u>Thanks!</u></strong><img
                            src="1200px-Breathe-face-smile.svg.png" width="17" height="17"></header><br>
                </section>
            </div>
        </div>
    </div>
    <div class="container">
        <form class="form-input" method= "POST" action="contact" onsubmit="email()">
            <div class="form-group row">
                <div class="col-sm-4">
                    <p id="first"><strong>Firstname: </strong></p>
                    <input type="text" name = "firstName" class="form-control" onkeypress="return onlyAlphabets(event,this);" placeholder="First name" required>
                </div>
                <div class="col-sm-4">
                    <p id="last"><strong>Lastname: </strong> </p>
                    <input type="text" name = "lastName" class="form-control" onkeypress="return onlyAlphabets(event,this);" placeholder="Last name" required><br>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-3 col-form-label">
                    <p id="email"><strong>Email: </strong></p>
                </label>
                <div class="col-sm-5">
                    <input type="email"  name="email" class="form-control" id="inputEmail3" placeholder="@example.com" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword3" class="col-sm-3 col-form-label">
                    <p id="email"><strong>Phone: </strong></p>
                </label>
                <div class="col-sm-5">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">+1</span>
                        </div>
                        <input type="text" name="phone" class="form-control" onkeypress="return onlyNumbers(event,this);"
                        placeholder="(XXX)XXX-XXXX" id="phone" aria-label="Username"
                            maxlength="10" minlength="10" aria-describedby="basic-addon1">
                    </div>
                </div>
            </div>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-3 pt-0">
                        <p class="gender"><strong>Gender: </strong></p>
                    </legend>
                    <div class="col-sm-5">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                                checked>
                            <label class="form-check-label" for="gridRadios1">
                                <p class="gender">Male</p>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                            <label class="form-check-label" for="gridRadios2">
                                <p class="gender">Female</p>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                            <label class="form-check-label" for="gridRadios3">
                                <p class="gender">Other</p>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="form-group row">
                <div class="col-form-label col-sm-3 pt-0">
                    <p id="comments"><strong>Comments: </strong></p>
                </div>
                <div class="col-sm-5">
                    <div class="form-check">
                        <textarea class="form-control" name = "body" aria-label="With textarea" placeholder="Hello!"></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-success">Submit</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
            </div>
        </form>
    </div>
</article>
<% include footer %>