<footer>
    <p> Here, I am attaching my profiles link <a href="https://bitbucket.org/reddypan/"><img src="/images/334235045829_1d1db85d6877560365df_512.png"
                width="20" height="20" alt="bitbucket"></a> <a href="https://github.com/reddypan"><img src="/images/fLFdcGsl_400x400.jpg"
                width="20" height="20" alt="github"></a> <a href="https://www.linkedin.com/in/vishal-reddy-469a89158/"><img
                src="/images/download.png" width="20" height="20" alt="linkedin"></a></p>
    <h5> For any questions, please <a href="https://www.google.com/"><u>click here</u></a> to get it answered. </h5>
    <p> This page contains copyrighted content. &nbsp; <i><ins> All Rights Reserved.</ins> </i></p>
</footer>
<script src="/js/myprogram.js"></script>
<script src="/js/tictac.js"></script>
<script src="/js/contact.js" defer></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
</body>

</html>