<% include header %>
<main>
    <article>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <header> Vishal Reddy Pannala</header>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-8">
                    <section id="past-section">
                        <div>
                            <h3 class="section-header"> Introduction </h3><br>
                            <strong> <mark>Why am I here at NWMSU? </mark></strong><br>
                            I am a new student here at Northwest Missouri State University. I joined this university in August 2018
                            to
                            pursue my Masters in Applied Computer Science.<br><br>
                            <strong> <mark> Introduction and Work Experience </mark> </strong><br>
                            I am from Hyderabad, India. I completed my under graduation from Computer Science stream.
                            After completing my bachelors, I joined Tata Consultancy Services (TCS) as a Assistant System Engineer
                            (ASE).
                            I have a total work experience of 2 years where I worked predominantly in testing domain.
                            I worked on manual as well as automation testing tools like Selenium, UFT and Protractor.<br><br>
                            <strong> <mark> Education</mark> </strong><br>
                            <strong>Masters of Science in Applied Computer Science</strong><br>
                            <i>Northwest Missouri State University (Northwest), Maryville, MO </i><br>
                            <h6>Anticipated December 2020 </h6>
                            <h6>GPA: 3.8/4.0</h6>
                            <strong>Bachelor of Technology in Computer Science and Engineering</strong><br>
                            <i>Jawaharlal Nehru Technological University (JNTU), Hyderabad, AP, India</i><br>
                            <h6>May 2016</h6>
                            <h6> GPA: 3.75/4.0</h6><br>
                            <strong> <mark> Hobbies & Interests </mark> </strong><br>
                            I would love to play or watch sports during my free time.<br>
                        </div>
                    </section>
                </div>
                <div class="col-sm-4">
                    <section class="aside-header">
                        <aside>
                            <h3 class="section-header"> My contact details: </h3>
                            <ol type="1">
                                <li><strong>Phone: </strong>(234) 567-1234</li>
                                <li><strong>Email address: </strong><a href="vishalreddy.pannala@gmail.com"><u>vishalreddy.pannala@gmail.com</u></a></li>
                                <li><strong>Mailing address: </strong><br>1115 North College Drive, Maryville, MO 64468</li>
                            </ol>
                            <img class="rounded-circle" src="/images/mypicture.jpg" alt="mypic" height="250" width="250">
                        </aside>
                    </section>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <section id="future-section">
                        <h3 class="section-header"> Future Plans </h3>
                        <strong> <mark> Career Plans </mark></strong><br>
                        I wish to become a full stack developer and this degree will help me to gain knowledge on Networking,
                        Databases, User Interface, API, Security etc., which in turn helps me to succeed in future.<br><br>
                        <strong> <mark> Technical Skills</mark> </strong><br><br>
                        <table>
                            <tr>
                                <td><strong>Programming Languages &emsp;&emsp;&emsp;</strong></td>
                                <td>C, C++, Core Java</td>
                            </tr>
                            <tr>
                                <td><strong>Databases &emsp;&emsp;&emsp;</strong></td>
                                <td>SQL, PLSQL, MongoDB</td>
                            </tr>
                            <tr>
                                <td><strong>Web Technologies</strong></td>
                                <td>HTML, CSS, JavaScript, Angular JS, jQuery, AJAX</td>
                            </tr>
                            <tr>
                                <td><strong>Frameworks</strong></td>
                                <td>Hibernate, Spring MVC</td>
                            </tr>
                        </table><br>
                    </section>
                    <section class="classes-schedule">
                        <h3 class="section-header">Classes Schedule</h3>
                        <table>
                            <ul>
                                <tr>
                                    <th> &emsp;CRSE &emsp;</th>
                                    <th> Subject &emsp;</th>
                                    <th> Days &emsp;</th>
                                    <th> Time </th>
                                </tr>
                                <tr>
                                    <td>
                                        <li> 44-563 &emsp; </li>
                                    </td>
                                    <td> Developing Web Apps and Services &emsp;</td>
                                    <td> MW &emsp;</td>
                                    <td> 11:00 AM - 11:50 AM </td>
                                </tr>
                                <tr>
                                    <td>
                                        <li> 44-560 </li>
                                    </td>
                                    <td> Advance topics in database systems </td>
                                    <td> MWF </td>
                                    <td> 01:00 PM - 01:50 PM </td>
                                </tr>
                                <tr>
                                    <td>
                                        <li> 44-542 </li>
                                    </td>
                                    <td> Object Oriented programming </td>
                                    <td> TR </td>
                                    <td> 08:00 AM - 09:15 AM </td>
                                </tr>
                                <tr>
                                    <td>
                                        <li> 44-542 </li>
                                    </td>
                                    <td> Object Oriented programming lab</td>
                                    <td> R </td>
                                    <td> 03:35 PM - 05:35 PM </td>
                                </tr>
                            </ul>
                        </table>
                    </section>
                </div>
                <div class="col-sm-4">
                    <iframe width="350" height="373" src="https://www.youtube.com/embed/iVXBJsNU7BQ" allowfullscreen></iframe>
                </div>
            </div>
    </article>
</main>
<% include footer %>


