<% include header %>

<article>
    <header> <u>Speeding Ticket - Fine in USD</u></header>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <section id="form-input1">
                    <p>What if you want to drive a little too fast, and if a police officer stops you? Don't worry.
                        If your are driving at a speed of 60 or less, the fine will be $100. If speed is between 61 and 80 inclusive, the
                        fine will be $150. If speed is 81 or more, the fine will be $200 unless it is your
                        birthday -- on that day, you can drive at any speed. Please enter birthday only when you want to drive on that day.</p>

                        <strong>Speed:</strong><br>
                        <input type="text" name="speed" id="speed" value="60" required><br>
                        <br>
                        <strong>Birthday:</strong><br>
                        <input type="date" name="bday" id="date"><br><br>
                        <input type="button" class="btn-success" value="Submit" onclick="caughtSpeeding(document.getElementById('speed').value, document.getElementById('date').value)">

                    <h3 id="result" class = "mt-4 alert alert-primary" role="alert"></h3>
                </section><br>
                
            </div>
        </div>
    </div>
</article>

<% include footer %>