<% include header %>
<link rel="stylesheet" href="/css/tictac.css">
<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="title"><u>Tic Tac Toe</u></h1>
            </div>
        </div>
    </div>
    <div class="gameboard container text-center">
        <div class="row-1">
            <div class="square column-a cell-a1">
                <div class="content">
                    <div class="table">
                        <div class="table-cell">
                            <p id="a1" class="game-tile">&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="square column-b cell-b1">
                <div class="content">
                    <div class="table">
                        <div class="table-cell">
                            <p id="b1" class="game-tile">&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="square column-c cell-c1">
                <div class="content">
                    <div class="table">
                        <div class="table-cell">
                            <p id="c1" class="game-tile">&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-2">
            <div class="square column-a cell-a2">
                <div class="content">
                    <div class="table">
                        <div class="table-cell">
                            <p id="a2" class="game-tile">&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="square column-b cell-b2">
                <div class="content">
                    <div class="table">
                        <div class="table-cell">
                            <p id="b2" class="game-tile">&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="square row-b column-c cell-c2">
                <div class="content">
                    <div class="table">
                        <div class="table-cell">
                            <p id="c2" class="game-tile">&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-3">
            <div class="square column-a cell-a3">
                <div class="content">
                    <div class="table">
                        <div class="table-cell">
                            <p id="a3" class="game-tile">&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="square column-b cell-b3">
                <div class="content">
                    <div class="table">
                        <div class="table-cell">
                            <p id="b3" class="game-tile">&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="square column-c cell-c3">
                <div class="content">
                    <div class="table">
                        <div class="table-cell">
                            <p id="c3" class="game-tile">&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form class="form-input">
        <div class="container">
            <div class="options text-center">
                <h3 class="welcome-text">Welcome!<br> Choose your options!</h3><br>
                <fieldset class="form-group">
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <legend class="col-form-label col-sm-3 pt-0">
                            <p class="letter" id="letter1"><strong>Your Letter: </strong></p>
                        </legend>
                        <div class="col-sm-4">
                            <div class="form-check" id="letter">
                                <input class="form-check-input" type="radio" name="gridRadios" id="x" value="option1">
                                <label class="form-check-label" for="gridRadios1">
                                    <p class="letter">X</p>
                                </label>
                            </div>
                            <div class="form-check" id="letter">
                                <input class="form-check-input" type="radio" name="gridRadios" id="o" value="option2">
                                <label class="form-check-label" for="gridRadios2">
                                    <p class="letter">O</p>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <legend class="col-form-label col-sm-3 pt-0">
                            <p class="gender" id="letter1"><strong>First Move: </strong></p>
                        </legend>
                        <div class="col-sm-4">
                            <div class="form-check" id="letter">
                                <input class="form-check-input" type="radio" name="gridRadios1" id="you" value="option3">
                                <label class="form-check-label" for="gridRadios3">
                                    <p class="gender">You</p>
                                </label>
                            </div>
                            <div class="form-check" id="letter">
                                <input class="form-check-input" type="radio" name="gridRadios1" id="computer" value="option4">
                                <label class="form-check-label" for="gridRadios4">
                                    <p class="gender">Computer</p>
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-sm-12">
                        <input type="button" class="btn btn-primary btn-md start-btn" value="Start Playing!">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal fade" id="winModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p class="winner-text"></p>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<% include footer %>